*{
    padding: 0px;
    margin: 0px;
}
header{
    width:960px;
    height:auto;
    margin:0 auto;
}
.nav{
    width:960px;
    height:auto;
    background-color:yellow;
}
.nav ul li{
    list-style:none;
    display: inline-block;
    position: relative;
    border-radius: 10px;
}
.nav ul li a{
    display: block;
    padding:15px 30px;
    text-decoration: none;
    font-size:20px;
    font-weight: bold;
    color:red;
    text-transform: uppercase;
    border-radius: 10px;
}
.nav ul li a:hover{
    color:yellow;
    background-color: rgb(9, 46, 211);
}
.nav ul li ul{
  position: absolute;
  background:rgb(9, 46, 211);
  left:-9999px;
}
.nav ul li:hover ul{
    left:0px;
}
.nav ul li ul li{
    width:150px;
    border-bottom: 1px solid blue;
    border-radius: 10px;
}
.banner-cover{
    height: 50vh;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    border-radius: 10px;
}
.banner-text{
    padding: 120px;
    text-align: center;
}
.banner-text button{
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px;
    border:0px;
    background:yellow;
    color:rgb(240, 12, 12);
    margin:0px 8px;
    
}
.banner-text button:hove{
    color:yellow;
    background-color: rgb(9, 46, 211);
}
.about-logo img{
    width: 320px;
    height: auto;
}
.about-text{
    width: 520px;
    height: auto;
    padding: 0px 24px;
}
.row{
    overflow: auto;
}
.col{
    float: left;
  
}
.about-section{
    background: burlywood;
}
.about-text h2{
    font-size: 25px;
    font-weight:bold;
   
}
.title{
text-align: center;
height: auto;
padding: 10px;
border-bottom: 2px solid #fff;
}
.about-text h2{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
  
    margin-bottom: 20px;

}