.headerArea{}
.container{width: 1200px;margin:auto;padding:0px 5px;}
.container .logo{width:150px;}
.header_inner{color:black;border-bottom: 6px solid tomato;}
.header{float: center;}
.middle-section{margin:auto;color:blue;}
.footer{color:red;}
.home-title{color:red;text-align: center;}