body{background-color: rgba(194, 116, 88, 0.438);}

*{
    padding: 0px;
    margin: 0px;
}
header{
    width:940px;
    height:auto;
    margin:0 auto;
}
.nav{
    width:940px;
    height:auto;
    background-color:rgb(86, 207, 15);
}
.nav ul li{
    list-style:none;
    display: inline-block;
    position: relative;
    border-radius: 10px;
}
.nav ul li a{
    display: block;
    padding:10px 25px;
    text-decoration: none;
    font-size:20px;
    font-weight: bold;
    color:rgb(172, 36, 36);
    text-transform: uppercase;
    border-radius: 10px;
}
.nav ul li a:hover{
    color:yellow;
    background-color: rgb(196, 35, 142);
    transition:0.3s all;
}
.nav ul li ul{
  position: absolute;
  background:rgb(167, 211, 9);
  left:-8999px;
}
.nav ul li:hover ul{
    left:0px;
}
.nav ul li ul li{
    width:150px;
    border-bottom: 1px solid rgb(60, 207, 195);
    border-radius: 10px;
}
.tacos-icon img{
    height: 50px;
    width: 50px;
    padding: 10px;
    margin-bottom:10px;
}
.section{
    width: 300px;
    border: 1px solid;
}